@charset "utf-8";
/*--header start--*/
#header_box{ width:100%; margin:0 auto; overflow:hidden; background:#fff; text-align:center;}
#header_box .header_top{width:900px; margin:5px auto;}
#header_box .header_top .welcome{height:19px; line-height:19px;}
#header_box .header_top .share_btn{}
#header_box .header{ width:1000px; margin:auto;}
#header_box .header .logo{height:95px;}
#header_box .header .contact_code{width:350px; height:95px;}
#header_box .nav_box{ width:100%; margin:auto; background: url(../images/nav_bg_1.png) repeat-x; height: 42px; line-height: 42px; position: relative; z-index: 100;}
#header_box .nav_box .nav {	margin: 0px auto; width: 1200px; font-family: "Microsoft YaHei",SimSun,SimHei; font-size: 14px; position: relative;}
#header_box .nav_box .nav a {color: #FFFFFF; height:42px; width:80px;}
#header_box .nav_box .nav a:hover {color:#FFFFFF;	background-color:#007ADF; width:80px;}
#header_box .nav_box .nav h3 {font-size: 100%; font-weight: normal;}
#header_box .nav_box .nav h3 a {width: 80px; text-align: center; font-size: 14px; text-decoration: none; display: block;}
#header_box .nav_box .nav .n_menu {position: relative; z-index: 100; margin-left:5px; margin-right:5px;}
#header_box .nav_box .nav .sep {width: 3px; text-align: center; color: rgb(212, 212, 212); font-size: 12px;}
#header_box .nav_box .nav .sub {background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(230, 228, 227) rgb(230, 228, 227); border-image: none; left: -3px; top: 36px; width: 105px; display: none; position: absolute; z-index: 100;}
#header_box .nav_box .nav .sub li {	padding: 0px 8px; text-align: center; margin-bottom: -1px;}
#header_box .nav_box .nav .sub li a {	padding: 8px 0px; height: 28px; color: rgb(102, 102, 102); line-height: 28px; border-bottom-color: rgb(230, 228, 227); border-bottom-width: 1px; border-bottom-style: solid; display: block;}
#header_box .nav_box .nav .sub li a:hover {	color: rgb(30, 149, 251);	}
#header_box .nav_box .nav .block {	background: #0179c1; left: 0px; top: 39px; width: 107px; height: 3px; overflow: hidden; position: absolute;}

#banner_box{ width:100%; z-index: 0;}
#banner_box .banner{ width:100%;}
#banner_box .banner .banner_img{width: 100%; min-width:1000px; min-height:400px;}
#banner_box .banner_btn{width:100%; position:absolute; z-index:100; bottom:0; left:0; height:30px; line-height:30px; text-align:center;}
#banner_box .banner_btn ul {text-align:center; padding-top:5px;}
#banner_box .banner_btn ul li{cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url("../images/banner_btn") -18px 0; overflow:hidden; line-height:9999px; }
#banner_box .banner_btn ul .on{background-position:0px 0px;}
/*--header end--*/

/*location start*/
#local_box{ overflow:hidden; width:100%; z-index: 0; text-align:center; height:35px; margin-top:5px; font-size: 13px;color:#999;}
#local_box .local {background:#fff url(../images/local_tag.png) no-repeat; background-position-y: 6px; width:960px; line-height:35px; margin:auto; font-family: "Microsoft YaHei",SimSun,SimHei;}
#local_box .local .local_desc{position: relative;  padding-left:28px;}
#local_box .local .local_desc span{font-weight:bold;};
#local_box .local .local_desc a {color:#999;}
#local_box .local .local_desc a:hover {color:#999;}
#local_box .local .hot_search{margin-right:5px; text-align:left; font-size:14px;}
#local_box .local .hot_search a{margin-right:5px;}
#local_box .local .hot_search a:hover{margin-right:5px;}
/*location end*/

/*页面，主体*/
#content_box{ width:960px; margin:5px auto 0; overflow:hidden;}
#content_box .content{ overflow:hidden; width:960px; }

/*左侧，列表*/
#content_box .content .ct_left{width:234px; }
#content_box .content .ct_left .ct_l_section { width:230px; overflow:hidden; background:#fff; padding-bottom:5px;}
#content_box .content .ct_left .ct_l_section .l_menu{width:218px; } /*列表项*/

/*左侧，产品类型*/
#content_box .content .ct_left .ct_l_section .l_menu dl{ width:100%; margin:0px 5px; float:left;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item{font-size: 14px;color: #333; width:218px!important; float:left;text-indent:2em; line-height:33px; background:url(../images/m_i_bg.jpg) no-repeat ; float:left; cursor:pointer; white-space:nowrap; overflow:hidden;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item a{color: #333;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item a:hover{ color:#007ADF}

/*左测，新闻动态 | 成功案例*/
#content_box .content .ct_left .ct_l_section .l_menu ul{width:100%; display:inline;}
#content_box .content .ct_left .ct_l_section .l_menu ul li{width:100%; margin:0px 5px; padding:5px 0px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em; overflow:hidden; white-space: nowrap;}
#content_box .content .ct_left .ct_l_section .l_menu ul li a{ font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:20px; color:#333;}
#content_box .content .ct_left .ct_l_section .l_menu ul li a:hover{ color:#007ADF; text-decoration:underline;}

/*左侧，公司信息*/
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3{width:100%; margin:0px 5px; padding:5px 0px; font-size: 14px;color: #333; float:left;text-indent:2em; line-height:43px; float:left; cursor:pointer; border-bottom:dashed 1px #cfcfcf;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3 a{color: #333;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3 a:hover{ color:#007ADF}

/*左侧，推荐产品*/
#content_box .content .ct_left .ct_l_section .l_menu .l_m_prod {width: 100%; margin:0px 5px; padding:5px 0px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_prod a{ font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:20px; color:#333;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_prod a:hover{ color:#007ADF; text-decoration:underline;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_prod  .buy1{background:url(../images/bug_bg1.png) no-repeat; text-decoration:none;}

/*右侧, 主体*/
#content_box .content .ct_right{width:723px;overflow:hidden; background:#fff;}
#content_box .content .ct_r_box .ct_right{ width:723px; }
#content_box .content .ct_r_box .ct_right .ct_r_content{ width:721px; }

/*右侧, 主体, 图片列表：产品列表*/
#content_box .content .ct_r_box .ct_right .ct_r_content .in_mall{display:inline-block; height:25px; color:#006EB9;}
#content_box .content .ct_r_box .ct_right .ct_r_content dl{margin:6px 0 4px 9px; display:inline; float:left;  width:228px; border:1px solid #ccc;}
#content_box .content .ct_r_box .ct_right .ct_r_content dl:hover{border:1px solid #206AB3;}
#content_box .content .ct_r_box .ct_right .ct_r_content dd{ width:100%; height:230px; float:left; text-align:center; border-bottom:dashed 1px #cfcfcf;}
#content_box .content .ct_r_box .ct_right .ct_r_content dd img{ width:220px; height:220px; margin:1px; display:inline;} 
#content_box .content .ct_r_box .ct_right .ct_r_content .a_text{ height:55px; line-height:30px; float:left; width:220px; overflow:hidden; overflow: hidden;text-overflow: ellipsis;}
#content_box .content .ct_r_box .ct_right .ct_r_content .a_text a{ color:#333;}
#content_box .content .ct_r_box .ct_right .ct_r_content .a_text a:hover{ color:#007ADF; text-decoration:underline;}

/*右侧, 主体, 详细信息*/
#content_box .content .ct_r_box .ct_right .ct_r_content .d_title_pnl{width:721px; border-bottom:dashed 1px #cfcfcf; padding:5px;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_m_img{ width:200px; height:200px; border:1px solid #ccc;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_m_img:hover{border:1px solid #206AB3;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_title{margin-left:10px;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_title .d_t_name{ min-height:21px; height:21px; font-size:16px; font-family:"", Arial, Verdana, System; font-weight:700;line-height:21px;color:#333}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_title .d_t_name:hover{ color:#007ADF; text-decoration:underline;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_title .d_t_link{ margin:5px auto;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_detail{padding:10px 5px;}
#content_box .content .ct_r_box .ct_right .ct_r_content .d_d_links{padding:5px; margin-top:5px; border-top:dashed 1px #cfcfcf;}

/*右侧, 主体, 文本列表：站内新闻或其它*/
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl{width: 98%; text-align:center;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl .l_t_name{ min-height:21px; height:21px; font-size:16px; font-family:"", Arial, Verdana, System; font-weight:700;line-height:21px;color:#626262}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl .l_u_date{margin-left:30px;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl .l_u_text{color:#999; line-height:150%; display:block; clear:both; line-height:20px;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl ul{display:inline;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl ul li{margin:8px 5px; width: 100%; line-height:27px; border-bottom:dashed 1px #cfcfcf; float:left; text-align:left;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl ul li a{font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:26px; color:#333;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl ul li a:hover{ color:#007ADF; text-decoration:underline;}
#content_box .content .ct_r_box .ct_right .ct_r_content .list_pnl ul li span{ text-align:right;}

#content_box .content .dh_c{ border:1px solid #D8D8D8; float:left; width:232px; background:#fff; }
#content_box .content .dh_c h2{ background:url(../images/pro_22.jpg) no-repeat; height:33px; line-height:33px; color:#fff; text-align:center;font-family:"微软雅黑";font-size:14px;}
#content_box .content .dh_c h2 strong{ font-size:12px; font-weight:100; color:#999;}

/*moduel title start*/
.m_title {background:url(../images/m_title_bg.jpg) repeat-x bottom; width:100%; height:35px;}
.m_title .m_title_name{ color:#006eb9; width:100px; font-family: "Microsoft YaHei",SimSun,SimHei; font-size: 16px; position: relative; padding:5px 5px 5px 28px; font-weight:bold; float:left; background:url(../images/m_title_tag.png) no-repeat; background-position:3px;}
.m_title .m_title_more_link{padding-top:10px; float:right;width:60px; text-align:left;}
/*moduel title end*/


/*content2 start*/
#content_box2 {width:960px; margin-bottom:5px; margin-top:5px; float:left;}
#content_box2 .content2{width: 475px; background-color:#FFF;}
#content_box2 .content2 .company{width: 463px; font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:26px; color:#333333; padding:5px; text-indent:2em}
#content_box2 .content2 .company .com_img{float:left; margin:auto 5px auto 0px;}
#content_box2 .content2 .news{width: 473px;}
#content_box2 .content2 .news ul{margin:5px; width: 473px; display:inline;}
#content_box2 .content2 .news ul li{width: 460px; background:url(../images/jian_28.jpg) no-repeat 0 8px; line-height:27px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em; }
#content_box2 .content2 .news ul li a{ font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:26px; color:#333;}
#content_box2 .content2 .news ul li a:hover{ color:#007ADF; text-decoration:underline;}

/*#content_box .content2 .news dl{ background:url(../images/Index/wdx.gif) no-repeat right bottom; padding-top:10px; }
#content_box .content2 .news dl.barn{ background:none;}
#content_box .content2 .news dt{ background:url(../images/problem_58.jpg) no-repeat 0 4px; padding-left:17px; height:22px; width:290px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#content_box .content2 .news dt a{ color:#2a8dd9; line-height:22px;}
#content_box .content2 .news dd{ background:url(../images/problem_52.jpg) no-repeat 0 4px; padding-left:17px; color:#6a6263; line-height:27px;}*/
/*content2 end*/

/*成功案例 start*/
#cases_box {margin: 0px auto; width: 960px; height: auto;}
#cases_box .cases {background: url("../images/g_01.jpg") repeat-x top; width: 960px; height: 260px; padding-top: 4px; margin-top: 12px;}
#cases_box .cases .down {	background: url("../images/b_bg2.gif") no-repeat; width: 960px; height: 6px; overflow: hidden;}
#cases_box .cases .up{ width:960px; height:32px; float:left; background:url(../images/index_03.jpg) top repeat-x;}
#cases_box .cases .up p{ padding-top:3px; line-height:24px; color:#2b8a12; padding-left:15px; float:left;}
#cases_box .cases .cases_bg {background: url("../images/index_17.jpg") repeat-y; width: 960px; height: 221px; }

/*左右按钮滚动*/
.scrollImgList1 {overflow: hidden;	ZOOM:1;	width:1000px;	float:left;	display:inline;	background-color:#fff; padding-bottom:5px; }
.scrollImgList1 .LeftBotton {width:28px; height:43px;  float:left; background:url(../images/left.jpg) no-repeat; cursor:pointer;  margin-top:74px; display:inline;}
.scrollImgList1 .RightBotton { width:28px; height:43px; float:left; background:url(../images/right.jpg) no-repeat; cursor:pointer;  margin-top:74px;  display:inline;}
.scrollImgList1 .Cont {position:relative;float:left;overflow: hidden;width: 904px;height:auto;}
.scrollImgList1 .ScrCont {overflow: hidden;width: 32766px;ZOOM: 1}
.scrollImgList1 ul{ width: auto; height:190px; float:left; margin-top:15px; overflow:hidden;}
.scrollImgList1 ul li{width:159px; height: auto; text-align:center; float:left; margin:0 11px; display:inline; }
.scrollImgList1 ul li .pic{}
.scrollImgList1 ul li .pic a{ width:157px; height:132px; display:block; border:1px solid #ccc;}
.scrollImgList1 ul li .pic a:hover{ border:1px solid #206AB3;}
.scrollImgList1 ul li .p1{ width:157px; height:auto; border:1px solid #ccc; text-align:center; line-height:18px; font-size:12px; padding:5px 0; margin-top:7px; white-space:nowrap; overflow:hidden;}
.scrollImgList1 ul li .p1 a{ color:#333; }
.scrollImgList1 ul li .p1 a:hover{ color:#007ADF; text-decoration:underline;}

/*左右按钮滚动 end*/
/*成功案例 end*/

/*底部 start*/
.bottom_box{background:#333; width:100%; text-align:center; margin-top:5px;}
.bottom_box .bottom{width: 960px; margin: 0px auto;}
.bottom_box .bottom a{ text-decoration: none; color: #8f8f8f;}
.bottom_box .bottom a:hover{text-decoration: none; color: #0484CF;}
.bottom_box .bottom .b_title{font-size: 16px;color: #fff;margin-bottom: 8px; margin-top: 5px; padding-bottom:5px; font-family:"微软雅黑"; background:url(../images/b_title_bg.jpg) left bottom no-repeat}
.bottom_box .bottom .barcode{ padding-top:40px;}
.bottom_box .bottom .contacts{ margin-left:30px; width: 290px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .links{ margin-left:0px; width: 200px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .links li p{ margin:5px auto;}
.bottom_box .bottom .feedback{margin-left:0px; width:280px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .feedback .input{background: #282828; width: 280px; height: 26px; margin-bottom: 6px; border:0px; color: #6e6e6e; padding-left: 10px;}
.bottom_box .bottom .feedback .input1{background:#282828;width:280px;height:26px;margin-bottom: 6px; border: 0px;color:#6e6e6e; padding-left: 10px; height: 70px;}
.bottom_box .bottom .copy{border-top: 1px solid #343434; color: #8f8f8f; padding: 4px 0px 4px 0px; text-align:center; margin-top:10px; border-top:1px solid #999; }
/*底部 end*/

/*返回顶部*/
.backToTop{display:none;line-height:1.2;background:url(../images/backtop_03.jpg) no-repeat;width:25px;height:88px;color:#fff;font-size:12px;text-align:center;position:fixed;_position:absolute;right:80px;bottom:100px;_bottom:"auto";cursor:pointer;z-index:65533; }

/*paging*/
.paging {font-family: Tahoma, Verdana; margin-top: 5px; text-align:center; color:#666;}
.paging span.current { padding:2px 8px 2px 8px; margin:3px; text-decoration:none;}
.paging span.disabled { background:#EEE; padding:1px 8px 1px 8px; margin:2px; color:#999; font-size: 16px; line-height:16px;}
.paging input { text-align:center; border: 1px solid #DBDBDB; background-color: #FFF; padding: 2px; color: #999; font-size: 12px; line-height: 14px; width:30px;  vertical-align: bottom;}

/*产品列表 分类*/
.m-sort-list{border:0; margin: 10px auto;}
.m-sort-list ul{min-height:31px;height:auto!important;height:31px;padding:7px 0 1px;zoom:1}
.m-sort-list ul:after{content:'';display:table;clear:both}
.m-sort-list li{display:inline;float:left; padding-bottom:8px;white-space:nowrap}
.m-sort-list li a{float:left;padding:3px 9px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#666}
.m-sort-list li a:hover{text-decoration:none}
.m-sort-list .m-sort-select {color:#006EB9;};

/*联系我们滚动效果*/
#asid_share {position: fixed; width: 40px; bottom: 20%; right: 0; z-index: 890;}
#asid_share .asid_share_box { width: 100%; margin-bottom: 3px; background: #BBB; text-align: center;} 
#asid_share .asid_share_box a {display: block;height: 40px;padding-top: 5px; }
#asid_share .asid_share_box a:hover .asid_title, #asid_share .asid_share_box .asid_title {color: #fff;font-size: 14px;display: block;padding-left: 0px;line-height: 20px;width: 40px;margin-top: -2px;}
#asid_share .red_bag { background: #0A458C; text-decoration: none;}
#asid_share .asid_sha_layer { border: 1px solid #ccc; background: #fff; position: absolute; right: 47px; bottom: -44px;}
.sweep_img {padding: 10px;}
.asid_share_box .asid_help_list li {line-height: 26px;height: 26px;background: url(../images/dian.png) no-repeat 6px 12px;}
.asid_share_box .asid_help_list li a { line-height: 26px; height: 26px; padding: 0 0 0 14px; text-align: left;}
.asid_help_list li a:hover {color: #fff;}.asid_share_triangle {width: 12px;height: 40px;position: absolute;right: 45px;bottom: -12px;z-index: 100;}
.border_sj, .con_sj {display: block;width: 18px;height: 28px;font-size: 18px;overflow: hidden;font-family: SimSun;}
.border_sj {color: #ccc;font-style: normal;}
.con_sj {color: white;margin: -14px -2px 0 0;margin: -28px 0 0 -2px;}
#all-none {display: none;}