@charset "utf-8";
/*--header start--*/
#header_box{ width:100%; margin:0 auto; overflow:hidden; background:#fff; text-align:center;}
#header_box .header_top{width:900px; margin:auto;}
#header_box .header_top .welcome{height:19px; line-height:19px;}
#header_box .header_top .share_btn{}
#header_box .header{ width:1000px; margin:auto;}
#header_box .header .logo{height:95px;}
#header_box .header .contact_code{width:350px; height:95px;}
#header_box .nav_box{ width:100%; margin:auto; background: url(../images/nav_bg.gif) repeat-x; height: 42px; line-height: 42px; position: relative; z-index: 100;}
#header_box .nav_box .nav {	margin: 0px auto; width: 1100px; font-family: "Microsoft YaHei",SimSun,SimHei; font-size: 14px; position: relative;}
#header_box .nav_box .nav a {color: #FFFFFF; height:42px; width:80px;}
#header_box .nav_box .nav a:hover {color:#FFFFFF;	background-color:#007ADF; width:80px;}
#header_box .nav_box .nav h3 {font-size: 100%; font-weight: normal;}
#header_box .nav_box .nav h3 a {width: 80px; text-align: center; font-size: 14px; text-decoration: none; display: block;}
#header_box .nav_box .nav .n_menu {position: relative; z-index: 100; margin-left:5px; margin-right:5px;}
#header_box .nav_box .nav .sep {width: 3px; text-align: center; color: rgb(212, 212, 212); font-size: 12px;}
#header_box .nav_box .nav .sub {	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(230, 228, 227) rgb(230, 228, 227); border-image: none; left: -3px; top: 36px; width: 105px; display: none; position: absolute; z-index: 100;}
#header_box .nav_box .nav .sub li {	padding: 0px 8px; text-align: center; margin-bottom: -1px;}
#header_box .nav_box .nav .sub li a {	padding: 8px 0px; height: 28px; color: rgb(102, 102, 102); line-height: 28px; border-bottom-color: rgb(230, 228, 227); border-bottom-width: 1px; border-bottom-style: solid; display: block;}
#header_box .nav_box .nav .sub li a:hover {	color: rgb(30, 149, 251);	}
#header_box .nav_box .nav .block {	background: #0179c1; left: 0px; top: 39px; width: 107px; height: 3px; overflow: hidden; position: absolute;}

#banner_box{ overflow:hidden; height:320px; width:100%; z-index: 0;}
#banner_box .banner{ overflow:hidden; height:320px; width:100%;}
#banner_box .banner .banner_img{width: 100%; height: 320px;}
#banner_box .banner_btn{width:100%; position:absolute; z-index:100; bottom:0; left:0; height:30px; line-height:30px; text-align:center;}
#banner_box .banner_btn ul {text-align:center; padding-top:5px;}
#banner_box .banner_btn ul li{cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url("../images/banner_btn") -18px 0; overflow:hidden; line-height:9999px; }
#banner_box .banner_btn ul .on{background-position:0px 0px;}
/*--header end--*/

/*location start*/
#local_box{ overflow:hidden; width:100%; z-index: 0; text-align:center; height:35px; margin-top:5px; font-size: 13px;color:#999;}
#local_box .local {background:#fff url(../images/local_tag.png) no-repeat; background-position-y: 6px; width:960px; line-height:35px; margin:auto; font-family: "Microsoft YaHei",SimSun,SimHei;}
#local_box .local .local_desc{position: relative;  padding-left:28px;}
#local_box .local .local_desc span{font-weight:bold;};
#local_box .local .local_desc a {color:#999;}
#local_box .local .local_desc a:hover {color:#999;}
#local_box .local .hot_search{margin-right:5px; text-align:left; font-size:14px;}
#local_box .local .hot_search a{margin-right:5px;}
#local_box .local .hot_search a:hover{margin-right:5px;}
/*location end*/

#content_box{ width:960px; margin:5px auto 0; overflow:hidden;}
#content_box .content{ overflow:hidden; width:960px; }

#content_box .content .ct_left{width:234px; }
#content_box .content .ct_left .ct_l_section { width:230px; overflow:hidden; background:#fff; padding-bottom:5px;}
#content_box .content .ct_left .ct_l_section .l_menu{width:218px; } /*列表项*/
#content_box .content .ct_left .ct_l_section .l_menu dl{ width:218px; margin-top:5px; margin-left:2px; float:left;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item{font-size: 14px;color: #333; width:218px!important; float:left;text-indent:2em; line-height:38px;font-family:"微软雅黑";background:url(../images/m_i_bg.jpg) no-repeat ; float:left; cursor:pointer; border-bottom:dashed 1px #cfcfcf;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item a{color: #333;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item a:hover{ color:#007ADF}

#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3{font-size: 14px;color: #333; width:218px!important; float:left;text-indent:2em; line-height:43px;font-family:"微软雅黑"; float:left; cursor:pointer; border-bottom:dashed 1px #cfcfcf;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3 a{color: #333;}
#content_box .content .ct_left .ct_l_section .l_menu .l_m_item3 a:hover{ color:#007ADF}


#content_box .content .ct_left .ct_l_section .l_text_box{ float:left; width:232px; border:1px solid #DDDDDD; border-top:none; }
#content_box .content .ct_left .ct_l_section .l_text{ float:left; width:220px; margin:5px 0 5px 10px; display:inline;  line-height:20px;font-size:12px; color:#555; padding-bottom:10px; }


#content_box .content .ct_right{width:723px;overflow:hidden; background:#fff; padding-bottom:5px;}
#content_box .content .ct_r_box .ct_right{ width:723px; }
#content_box .content .ct_r_box .ct_right .ct_r_list{ width:721px;border:1px solid #ddd }
#content_box .content .ct_r_box .ct_right .ct_r_list dl{margin:6px 0 4px 9px; display:inline; float:left;  width:230px;}
#content_box .content .ct_r_box .ct_right dd{ width:223px; height:170px; float:left; border:1px solid #ccc;}
#content_box .content .ct_r_box .ct_right dd:hover{border:1px solid #206AB3;}
#content_box .content .ct_r_box .ct_right dd img{ width:220px; height:160px; margin:1px; display:inline;} 
#content_box .content .ct_r_box .ct_right .a_text{ height:31px; line-height:41px; float:left; width:220px; overflow:hidden; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#content_box .content .ct_r_box .ct_right .a_text a{ color:#333;}
#content_box .content .ct_r_box .ct_right .a_text a:hover{ color:#007ADF; text-decoration:underline;}

#content_box .content .ct_r_box .ct_right .ct_r_panel{ width: 98%; margin:5px auto; line-height:18px; text-indent:2em;}

#content_box .content .dh_c{ border:1px solid #D8D8D8; float:left; width:232px; background:#fff; }
#content_box .content .dh_c h2{ background:url(../images/pro_22.jpg) no-repeat; height:33px; line-height:33px; color:#fff; text-align:center;font-family:"微软雅黑";font-size:14px;}
#content_box .content .dh_c h2 strong{ font-size:12px; font-weight:100; color:#999;}

/*moduel title start*/
.m_title {background:url(../images/m_title_bg.jpg) repeat-x bottom; width:100%; height:40px;}
.m_title .m_title_name{ color:#006eb9; width:100px; font-family: "Microsoft YaHei",SimSun,SimHei; font-size: 16px; position: relative; padding:7px 5px 5px 28px; font-weight:bold; float:left; background:url(../images/m_title_tag.png) no-repeat; background-position:3px;}
.m_title .m_title_more_link{padding-top:10px; float:right;width:60px; text-align:left;}
/*moduel title end*/


/*content2 start*/
#content_box2 {width:960px; margin-bottom:5px; margin-top:5px; float:left;}
#content_box2 .content2{width: 475px; background-color:#FFF;}
#content_box2 .content2 .company{width: 463px; font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:26px; color:#333333; padding:5px;text-indent:2em}
#content_box2 .content2 .company .com_img{float:left; margin:auto 5px auto 0px;}
#content_box2 .content2 .news{width: 473px;}
#content_box2 .content2 .news ul{margin:5px; width: 473px; display:inline; background:url(../images/new_56.jpg) no-repeat top;}
#content_box2 .content2 .news ul li{width: 460px; background:url(../images/jian_28.jpg) no-repeat 0 8px; line-height:27px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em; }
#content_box2 .content2 .news ul li a{ font-family:"", Arial, Verdana, System;	font-size:12px;	line-height:26px; color:#333333;}
#content_box2 .content2 .news ul li a:hover{ color:#1460AE}


#content_box .content2 .news dl{ background:url(../images/Index/wdx.gif) no-repeat right bottom; padding-top:10px; }
#content_box .content2 .news dl.barn{ background:none;}
#content_box .content2 .news dt{ background:url(../images/problem_58.jpg) no-repeat 0 4px; padding-left:17px; height:22px; width:290px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
#content_box .content2 .news dt a{ color:#2a8dd9; line-height:22px;}
#content_box .content2 .news dd{ background:url(../images/problem_52.jpg) no-repeat 0 4px; padding-left:17px; color:#6a6263; line-height:27px;}
/*content2 end*/

/*成功案例 start*/
#cases_box {margin: 0px auto; width: 960px; height: auto;}
#cases_box .cases {background: url("../images/g_01.jpg") repeat-x top; width: 960px; height: 260px; padding-top: 4px; margin-top: 12px;}
#cases_box .cases .down {	background: url("../images/b_bg2.gif") no-repeat; width: 960px; height: 6px; overflow: hidden;}
#cases_box .cases .up{ width:960px; height:32px; float:left; background:url(../images/index_03.jpg) top repeat-x;}
#cases_box .cases .up p{ padding-top:3px; line-height:24px; color:#2b8a12; padding-left:15px; float:left;}
#cases_box .cases .cases_bg {background: url("../images/index_17.jpg") repeat-y; width: 960px; height: 221px; }

/*左右按钮滚动*/
.scrollImgList1 {overflow: hidden;	ZOOM:1;	width:1000px;	float:left;	display:inline;	background-color:#fff; }
.scrollImgList1 .LeftBotton {width:28px; height:43px;  float:left; background:url(../images/left.jpg) no-repeat; cursor:pointer;  margin-top:74px; display:inline;}
.scrollImgList1 .RightBotton { width:28px; height:43px; float:left; background:url(../images/right.jpg) no-repeat; cursor:pointer;  margin-top:74px;  display:inline;}
.scrollImgList1 .Cont {position:relative;float:left;overflow: hidden;width: 904px;height:auto;}
.scrollImgList1 .ScrCont {overflow: hidden;width: 32766px;ZOOM: 1}
.scrollImgList1 ul{ width: auto; height:190px; float:left; margin-top:15px; overflow:hidden;}
.scrollImgList1 ul li{width:159px; height: auto; text-align:center; float:left; margin:0 11px; display:inline; }
.scrollImgList1 ul li .pic{}
.scrollImgList1 ul li .pic a{ width:157px; height:132px; display:block; border:1px solid #9e9e9e;}
.scrollImgList1 ul li .pic a:hover{ border:1px solid #48a72b;}
.scrollImgList1 ul li .p1{ width:157px; height:auto; border:1px solid #cbcbcb; text-align:center; line-height:18px; font-size:12px; padding:5px 0; margin-top:7px;}
.scrollImgList1 ul li .p1 a{ color:#4e4f46; }
.scrollImgList1 ul li .p1 a:hover{ color:#fd0600;}

/*左右按钮滚动 end*/
/*成功案例 end*/

/*底部 start*/
.bottom_box{background:#333; width:100%; text-align:center; margin-top:5px;}
.bottom_box .bottom{width: 960px; margin: 0px auto;}
.bottom_box .bottom a{ text-decoration: none; color: #8f8f8f;}
.bottom_box .bottom a:hover{text-decoration: none; color: #0484CF;}
.bottom_box .bottom .b_title{font-size: 16px;color: #fff;margin-bottom: 8px; margin-top: 5px; padding-bottom:5px; font-family:"微软雅黑"; background:url(../images/b_title_bg.jpg) left bottom no-repeat}
.bottom_box .bottom .barcode{ padding-top:40px;}
.bottom_box .bottom .contacts{ margin-left:40px; width: 300px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .links{ margin-left:0px; width: 150px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .links li p{ margin:5px auto;}
.bottom_box .bottom .feedback{margin-left:0px; width:320px; color: #8f8f8f; line-height: 20px; text-align:left;}
.bottom_box .bottom .feedback .input{background: #282828; width: 300px; height: 26px; margin-bottom: 6px; border:0px; color: #6e6e6e; padding-left: 10px; padding-right: 10px;}
.bottom_box .bottom .feedback .input1{background:#282828;width:300px;height:26px;margin-bottom: 6px; border: 0px;color:#6e6e6e; padding-left: 10px; padding-right: 10px; height: 70px;}
.bottom_box .bottom .copy{border-top: 1px solid #343434; color: #8f8f8f; padding: 4px 0px 4px 0px; text-align:center; margin-top:10px; border-top:1px solid #999; }
/*底部 end*/

/*返回顶部*/
.backToTop{display:none;line-height:1.2;background:url(../images/backtop_03.jpg) no-repeat;width:25px;height:88px;color:#fff;font-size:12px;text-align:center;position:fixed;_position:absolute;right:80px;bottom:100px;_bottom:"auto";cursor:pointer;z-index:65533; }

/*paging*/
.paging {font-family: Tahoma, Verdana; margin-top: 5px; text-align:center; color:#666;}
.paging a:hover { border:1px solid #999; color:#fff; background-color:#999;}
.paging a:active {border:1px solid #000099; color:#000000;}
.paging span.current { padding:2px 8px 2px 8px; margin:3px; text-decoration:none;}
.paging span.disabled { background:#EEE; padding:1px 8px 1px 8px; margin:2px; color:#999; font-size: 16px; line-height:16px;}
.paging input { text-align:center; border: 1px solid #DBDBDB; background-color: #FFF; padding: 2px; color: #999; font-size: 12px; line-height: 14px; width:30px;  vertical-align: bottom;}


