@charset "utf-8";
/* CSS Document */
/*common*/
.mb10 { margin-bottom:10px;}
.ml10 { margin-left:10px;}
/*正文开始*/
.more01 a{ font-family:"宋体"!important; font-size:12px!important; color:#1b86d7!important;  padding-right:10px; font-weight:normal!important;}
.more { float:right; margin-top:5px; display:inline}

/*index_menu*/
.cpbox{ padding:0 0 10px; float:left; overflow:hidden; float:left; width:960px; }
.dh{width:234px; float:left; overflow:hidden; }
.dh_c{ border:1px solid #D8D8D8; float:left; width:232px; background:#fff; }
.dh_c h2{ background:url(../images/pro_22.jpg) no-repeat; height:33px; line-height:33px; color:#fff; text-align:center;font-family:"微软雅黑";font-size:14px;}
.dh_c h2 strong{ font-size:12px; font-weight:100; color:#999;}

.STYLE1 {font-size: 14px;color: #333; width:218px!important; float:left;text-indent:2em; line-height:33px;font-family:"微软雅黑";background:url(../images/pro_29.jpg) no-repeat ; float:left; cursor:pointer; }
.STYLE1 a{color: #333;}
.STYLE1:hover,.STYLE1 a:hover{ color:#007ADF}
.t1{  line-height:25px; }
.sss a{ color:#666; }
.sss a:hover{ color:#007ADF;}
.r13{background:url(../images/pro_39.jpg)  no-repeat 20px 10px; float:left; width:190px; line-height:25px; font-size:12px; text-indent:3em; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.p_right{ float:right; width:713px;overflow:hidden; background:#fff;}

.menu{width:218px; float:left; margin:2px 0 0 8px; display:inline; padding-bottom:10px;}
.menu dl{ float:left; width:218px; margin-top:5px; display:inline;}

/*联系方式*/
.contact_l { width:234px; overflow:hidden; float:left;margin:10px 0 0 0; display:inline; background:#fff; }
.contact_l  h2{  background:url(../images/pro_22.jpg) no-repeat;height:33px; line-height:33px; float:left; width:234px; font-size:14px; color:#FCFCFD; text-indent:0.8em; font-weight:bold;font-family:"微软雅黑";}
.contact_l .ry_c{ float:left; width:232px; border:1px solid #DDDDDD; border-top:none; }
.contact_l  .tel{ float:left; width:220px; margin:5px 0 5px 10px; display:inline;  line-height:20px;font-size:12px; color:#555; padding-bottom:10px; }
/*推荐*/
.cp_con{ width:713px;float:right;/* border:1px solid #ddd*/ }
.cp_con h2{ background:url(../images/pro_24.jpg) no-repeat;width:713px; height:35px; line-height:35px; text-indent:1em;}
.cp_con h2 a,.jz h2 a,.ry h2 a{color:#fff;font-family:"微软雅黑"; font-size:14px;line-height:33px;}
.cp_con .p_list{ float:left; width:711px;border:1px solid #ddd }
.cp_con .p_list dl{margin:6px 0 4px 9px; display:inline; float:left;  width:225px;}
.cp_con dd{ width:223px; height:170px; float:left;/*background:url(../images/pro_32.jpg) no-repeat; */ border:1px solid #ccc;}
.cp_con dd:hover{border:1px solid #206AB3;}
.cp_con dd .mm{ width:220px; height:160px; float:left; margin:1px; display:inline;} 
.cp_con dd img{ width:220px; height:160px;}
.cp_con  .sp01{ height:31px; line-height:41px; float:left; width:220px; overflow:hidden; text-align:center; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.cp_con  .sp01 a{ color:#333;}
.cp_con  .sp01 a:hover{ color:#007ADF; text-decoration:underline;}

/*new*/
.abouts{  float:left;  width:960px; margin-bottom:10px;}

.sss{ width:275px; float:left; background-color:#FFF; }
.abouts .sss h2{height:38px;background:url(../images/index_24.jpg) no-repeat ; line-height:38px; float:left; width:275px; font-size:14px; color:#fff; text-indent:2em; font-family:"微软雅黑";}
.ss_s{width:332px; float:right; display:inline; background-color:#FFF; }
.ss_s .new_list{ float:left; width:320px;margin:5px ; display:inline; background:url(../images/new_56.jpg) no-repeat top; }
.ss_s .new_list li{ background:url(../images/jian_28.jpg) no-repeat 0 8px;  width:320px; line-height:27px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em; }

.sss .new_list{ float:left; width:260px;margin:5px ; display:inline; background:url(../images/new_56.jpg) no-repeat top; }
.sss .new_list li{ background:url(../images/jian_28.jpg) no-repeat 0 8px;  width:260px; line-height:27px; border-bottom:dashed 1px #cfcfcf; float:left; text-indent:1em; }

.new_list li span{ float:right;}
.new_list li a{ color:#666;}
.new_list li a:hover,.hot_new .w_right h3 a:hover,.link p a:hover{ color:#1460AE}

.abouts h2 span{ float:right; padding-right:10px;}
.abouts h2 span a{ color:#fff; font-family:Georgia, "Times New Roman", Times, serif;}
.abouts h2 span a:hover{ color:#000;}
/*F&Q*/
.ss{ float: right; width:332px;}
.abouts .ss .wd_css{float:left; width:330px; border:1px solid #ddd; border-top:none;  }
.abouts .ss_s .wd_css{float:left; width:330px; border:1px solid #ddd; border-top:none; }
.abouts .sss .wd_css{float:left; width:273px; border:1px solid #ddd; border-top:none; }
.abouts .ss h2,.abouts .ss_s h2{height:38px;background:url(../images/index_26.jpg) no-repeat ; line-height:38px; float:left; width:332px; font-size:14px; color:#fff; text-indent:2em; font-family:"微软雅黑";}

.abouts .ss #went_con{  width:320px; float:left; margin:4px; } 

.wd_css dl{ background:url(../images/Index/wdx.gif) no-repeat right bottom; padding-top:10px;}
.wd_css dl.barn{ background:none;}
.wd_css dt{ background:url(../images/problem_58.jpg) no-repeat 0 4px; padding-left:17px; height:22px; width:290px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.wd_css dt a{ color:#2a8dd9; line-height:22px;}
.wd_css dd{ background:url(../images/problem_52.jpg) no-repeat 0 4px; padding-left:17px; color:#6a6263; line-height:27px;}
/*link*/ 
.foot_link{ height:114px; background-color:#FFF; background:url(../images/link_63.jpg) no-repeat;margin:0 auto 0; display:inline; float:left; width:960px; position:relative;}
.foot_link p{ width:780px; position:absolute; left:170px; top:10px; }
.foot_link p a{float:left;padding:0 10px;line-height:22px; color:#3d3d3d;white-space:nowrap;}


