@charset "utf-8";
.container {
	WIDTH:962x;
	HEIGHT: 300px; 
}
.container A IMG {
	WIDTH:962px;
	HEIGHT: 300px
}
.td_f A IMG {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
.num {
	POSITION: absolute;
	WIDTH: 120px;
	FLOAT: right;
	TOP: 280px;
	LEFT: 900px
}
.num LI {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 15px;
	LIST-STYLE-TYPE: none;
	MARGIN: 1px;
	WIDTH: 15px;
	FONT-FAMILY: Arial;
	BACKGROUND: url(../images/flashbutton.gif) no-repeat -15px 0px;
	FLOAT: left;
	HEIGHT: 15px;
	COLOR: #86a2b8;
	FONT-SIZE: 12px;
	CURSOR: pointer;filter:alpha(opacity=50);-moz-opacity:0.5; opacity:0.5;
}
.num LI.on {
	LINE-HEIGHT: 15px;
	WIDTH: 15px;
	BACKGROUND: url(../images/flashbutton.gif) no-repeat;
	HEIGHT: 15px;
	COLOR: #ffffff;filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;
}
