* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#div_1 {
    width: 80px;
    height: 210px;
    position: fixed;
}

#div_2 {
    width: 80px;
    height: 210px;
    position: fixed;
}