.top {
    background: #0179c1;
    width: 100%;
    height: 10px;
}

.bottom {
    background: #0179c1;
    width: 100%;
    height: 2px;
}

.header_full {
	height: 142px; border-bottom-color: rgb(81, 170, 202); border-bottom-width: 0px; border-bottom-style: solid;
}

.header {
	width: 990px;
}

.banner {
    height: 100px;
    text-align: right;
}

.logo {
    height: 100px;
}
    
.other {
	text-align: right;
	height:90px;
	padding-top:10px;
}

.other .share
{
    padding-right:5px;
}
 
.other .tel 
{
    height:90;
    text-align:left;
}

.other .tel .tel_desc
{
}

.other .tel span
{
    padding:5px;
}
.other .tel .tel_num
{
    font-size:24px; font-family:"풕턼환쥌"; color:#0179c1; float:right; display:inline; 
}

.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.nav_bar {
	width: 990px; height: 22px; color: rgb(51, 51, 51); line-height: 42px; position: relative; z-index: 1;
}
.nav {
	margin: 0px auto; width: 990px; font-family: "Microsoft YaHei",SimSun,SimHei; font-size: 14px; position: relative;
}
.nav a {
	color: rgb(51, 51, 51);
}
.nav h3 {
	font-size: 100%; font-weight: normal;
}
.nav h3 a {
	width: 100px; text-align: center; font-size: 14px; text-decoration: none; display: block;
}
.nav .m {
	float: right; position: relative; z-index: 1;
}
.nav .s {
	width: 3px; text-align: center; color: rgb(212, 212, 212); font-size: 12px; float: right;
}
.nav .sub {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(230, 228, 227) rgb(230, 228, 227); border-image: none; left: -3px; top: 42px; width: 105px; display: none; position: absolute; z-index: 1;
}
.nav .sub li {
	padding: 0px 8px; text-align: center; margin-bottom: -1px;
}
.nav .sub li a {
	padding: 8px 0px; height: 28px; color: rgb(102, 102, 102); line-height: 28px; border-bottom-color: rgb(230, 228, 227); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.nav .sub li a:hover {
	color: rgb(30, 149, 251);
}

.nav .block {
	background: #0179c1; left: 0px; top: 39px; width: 107px; height: 3px; overflow: hidden; position: absolute;
}
.full_banner {
	background: rgb(255, 255, 255); width: 100%; height: 320px; overflow: hidden; position: relative;
}
.full_banner .bd {
	margin: 0px auto; overflow: hidden; position: relative; z-index: 0;
}
.full_banner .bd ul {
	width: 100% !important;
}
.full_banner .bd li {
	width: 100% !important; height: 320px; text-align: center; overflow: hidden; float: left;
}
.full_banner .bd li a {
	height: 320px; display: block;
}
.full_banner .hd {
	left: 0px; width: 100%; height: 30px; text-align: center; bottom: 0px; line-height: 30px; position: absolute; z-index: 1;
}
.full_banner .hd ul {
	text-align: center; padding-top: 5px;
}
.full_banner .hd ul li {
	background: url("../imgs/tg_flash_p.png") -18px 0px; margin: 5px; width: 8px; height: 8px; line-height: 9999px; overflow: hidden; display: inline-block; cursor: pointer; -ms-zoom: 1;
}
.full_banner .hd ul .on {
	background-position: 0px 0px;
}

.ad_notice {
    height: 25px;
    text-align: center;
    font-size:14px;
    /*border-bottom:1px solid #0179c1;*/
}

.ad_notice span {
    font-weight: bold;
    font-size:large;
    color:#0179c1;
}

.content {
	margin: 10px auto 0px; width: 960px; overflow: hidden;
}

.cpbox {
	background: rgb(255, 255, 255); padding: 0px 0px 10px; width: 960px; overflow: hidden; float: left;
}

.dh {
	width: 234px; overflow: hidden; float: left;
}

.dh_c {
	border: 1px solid rgb(216, 216, 216); width: 232px; float: left;
}

.dh_c h2 {
	background: url("../imgs/pro_22.jpg") no-repeat; height: 33px; text-align: center; color: rgb(255, 255, 255); line-height: 33px; font-family: "풕턼환쥌"; font-size: 14px;
}

.dh_c h2 strong {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: 100;
}

.menu {
	margin: 2px 0px 0px 8px; width: 218px; padding-bottom: 10px; float: left; display: inline;
}

.menu dl {
	width: 218px; margin-top: 5px; float: left; display: inline;
}

.style1 {
	background: url("../imgs/pro_29.jpg") no-repeat; width: 218px !important; color: rgb(51, 51, 51); line-height: 33px; text-indent: 2em; font-family: "풕턼환쥌"; font-size: 14px; float: left; cursor: pointer;
}
.style1 a {
	color: rgb(51, 51, 51);
}
.style1:hover {
	color: rgb(245, 124, 15);
}
.style1 a:hover {
	color: rgb(245, 124, 15);
}

.contact_l {
	margin: 10px 0px 0px; width: 234px; overflow: hidden; float: left; display: inline;
}
.contact_l h2 {
	background: url("../imgs/pro_22.jpg") no-repeat; width: 234px; height: 33px; color: rgb(252, 252, 253); line-height: 33px; text-indent: 0.8em; font-family: "풕턼환쥌"; font-size: 14px; font-weight: bold; float: left;
}
.contact_l .ry_c {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 232px; float: left;
}
.contact_l .tel {
	margin: 5px 0px 5px 10px; width: 220px; color: rgb(85, 85, 85); line-height: 20px; padding-bottom: 10px; font-size: 12px; float: left; display: inline;
}

.p_right {
	width: 713px; overflow: hidden; float: right;
}

.cp_con {
	width: 713px; float: right;
}
.cp_con h2 {
	background: url("../imgs/pro_24.jpg") no-repeat; width: 713px; height: 35px; line-height: 35px; text-indent: 1em;
}
.cp_con h2 a {
	color: rgb(255, 255, 255); line-height: 33px; font-family: "풕턼환쥌"; font-size: 14px;
}

.more01 a {
	color: rgb(27, 134, 215) !important; padding-right: 10px; font-family: "풻" !important; font-size: 12px !important; font-weight: normal !important;
}
.more {
	margin-top: 5px; float: right; display: inline;
}


.cp_con .p_list {
	border: 1px solid rgb(221, 221, 221); width: 711px; float: left;
}
.cp_con .p_list dl {
	margin: 6px 0px 4px 9px; width: 225px; float: left; display: inline;
}
.cp_con dd {
	border: 1px solid rgb(204, 204, 204); width: 223px; height: 170px; float: left;
}
.cp_con dd:hover {
	border: 1px solid rgb(245, 124, 15);
}
.cp_con dd .mm {
	margin: 1px; width: 220px; height: 160px; float: left; display: inline;
}
.cp_con dd img {
	width: 220px; height: 160px;
}
.cp_con .sp01 {
	width: 220px; height: 31px; text-align: center; line-height: 41px; overflow: hidden; float: left; white-space: nowrap; text-overflow: ellipsis;
}
.cp_con .sp01 a {
	color: rgb(51, 51, 51);
}
.cp_con .sp01 a:hover {
	color: rgb(245, 124, 15); text-decoration: underline;
}


.abouts {
	width: 960px; float: left;
}

.sss {
	width: 275px; float: left;
}
.abouts .sss h2 {
	background: url("../imgs/index_24.jpg") no-repeat; width: 275px; height: 38px; color: rgb(255, 255, 255); line-height: 38px; text-indent: 2em; font-family: "풕턼환쥌"; font-size: 14px; float: left;
}

.sss .new_list {
	background: url("../imgs/new_56.jpg") no-repeat top; margin: 5px; width: 260px; float: left; display: inline;
}
.sss .new_list li {
	background: url("../imgs/jian_28.jpg") no-repeat 0px 8px; width: 260px; line-height: 27px; text-indent: 1em; border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: dashed; float: left;
}

.ss_s {
	width: 332px; margin-left: 10px; float: left; display: inline;
}
.abouts .ss_s .wd_css {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 330px; float: left;
}

.ss_s .new_list {
	background: url("../imgs/new_56.jpg") no-repeat top; margin: 5px; width: 320px; float: left; display: inline;
}
.ss_s .new_list li {
	background: url("../imgs/jian_28.jpg") no-repeat 0px 8px; width: 320px; line-height: 27px; text-indent: 1em; border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: dashed; float: left;
}
.abouts .ss_s h2 {
	background: url("../imgs/index_26.jpg") no-repeat; width: 332px; height: 38px; color: rgb(255, 255, 255); line-height: 38px; text-indent: 2em; font-family: "풕턼환쥌"; font-size: 14px; float: left;
}

.new_list li a {
	color: rgb(102, 102, 102);
}
.new_list li a:hover {
	color: rgb(245, 124, 15);
}

.abouts h2 span {
	padding-right: 10px; float: right;
}
.abouts h2 span a {
	color: rgb(255, 255, 255); font-family: Georgia, "Times New Roman", Times, serif;
}
.abouts h2 span a:hover {
	color: rgb(0, 0, 0);
}
.abouts .ss .wd_css {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 330px; float: left;
}
.abouts .ss_s .wd_css {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 330px; float: left;
}
.abouts .sss .wd_css {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 273px; float: left;
}
.wd_css dl {
	background: url("../images/Index/wdx.gif") no-repeat right bottom; padding-top: 10px;
}
.wd_css dl.barn {
	
}
.wd_css dt {
	background: url("../images/problem_58.jpg") no-repeat 0px 4px; width: 290px; height: 22px; overflow: hidden; padding-left: 17px; white-space: nowrap; text-overflow: ellipsis;
}
.wd_css dt a {
	color: rgb(42, 141, 217); line-height: 22px;
}
.wd_css dd {
	background: url("../imgs/problem_52.jpg") no-repeat 0px 4px; color: rgb(106, 98, 99); line-height: 27px; padding-left: 17px;
}

.solution {
	background: url("../images/link_63.jpg") no-repeat; margin: 9px auto 0px; width: 960px; height: 114px; float: left; display: inline; position: relative;
}
.solution p {
	left: 170px; top: 10px; width: 780px; position: absolute;
}
.solution p a {
	padding: 0px 10px; color: rgb(61, 61, 61); line-height: 22px; float: left; white-space: nowrap;
}

.footer
{
    height:76px;
    text-align:center;
}
.footer_content
{margin:0 auto;
    height:76px;
}

.footer_left {
    height:76px;
	margin-left:8px;
}

.footer_link {
    margin-top:10px;
}

.footer_link  a {
	font-size:14px;font-family: "풕턼환쥌"; color:#afb1b2;
}

.copyright {color: #B6B6B6; margin-top: 12px;
}
