<!--main start-->
<div id="content_box">
    <div class="content">
        <div class="ct_left f_left">
            <div class="ct_l_section">
                <div class="clear">
                </div>
                ##comp_recommend_product_menu##
            </div>
            <div class="ct_l_section mt10">
                <div class="clear">
                </div>
                ##comp_sort_menu##
            </div>
            <div class="ct_l_section mt10">
                <div class="clear">
                </div>
                ##comp_company_contact##
            </div>
            <!--contact-->
        </div>
        <!--menu-->
        <div class="ct_r_box f_right">
            <div class="ct_right">
                <div class="clear">
                </div>             
                ##comp_product_list##
            </div>
            <!--tuijian-->
        </div>
    </div>
    <!--cpbox-->
    <div id="content_box2">
        <div class="content2 f_left">
            <div class="clear">
            </div>
            ##comp_company_outline##
        </div>
        <div class="content2 f_right">
            <div class="clear">
            </div>
            ##comp_company_news##
        </div>
    </div>
    <!--成功案例 start-->
    <div class="cases_box">
        <div class="cases">
            <div class="clear">
            </div>
            ##comp_company_cases##
            <div class="down">
            </div>
        </div>
    </div>
    <!--成功案例 end-->
</div>
<!--main end-->