<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$$site_name$$</title>
    <link href="yuexin_files/Common.css" rel="stylesheet" type="text/css">
    <link href="yuexin_files/Index.css" rel="stylesheet" type="text/css">
    <link href="yuexin_files/lanrentuku.css" rel="stylesheet" type="text/css">
    <!--flash jq-->
    <script src="yuexin_files/jquery-1.7.2.min.js" type="text/javascript"></script>
    <!-- customized js-->
    <script src="scripts/common.js" type="text/javascript"></script>
    <script src="scripts/rollpic.js" type="text/javascript"></script>
    <link rel="stylesheet" href="yuexin_files/1001.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="yuexin_files/m-front-icon.css">
    <link rel="stylesheet" type="text/css" href="yuexin_files/m-front-mess.css">
    <link rel="stylesheet" type="text/css" href="yuexin_files/m-front-invite.css">
    <link type="text/css" rel="stylesheet" href="yuexin_files/m-webim-lite.css">
</head>
<body>
    <!--头部 开始-->
    <div class="header_box">
    	<!--欢迎_分享连接 开始-->
        <div class="header_top">
            <div class="welcome f_left">
                您好,欢迎来到本网站！专业生产：IP防水试验机,摆管淋雨试验机和压力浸水试验机等产品.</div>
            <div class=" share_btn f_right">
                <a href="javascript:void(0);" onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href));return false;"
                    title="分享到QQ空间">
                    <img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/app_share/qz_logo.png" alt="分享到QQ空间" />
                </a>
                <script type="text/javascript">
                    document.write('<iframe frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?url=%url%&appkey=&type=3" width="16" height="16"></iframe>'.replace(/%url%/, encodeURIComponent(location.href)));</script>
                <a href="javascript:void(0)" onclick="postToWb();" class="tmblog">
                    <img src="http://v.t.qq.com/share/images/s/weiboicon16.png">
                </a>
                <script type="text/javascript">
                    function postToWb() {
                        var t = encodeURI(document.title);
                        var url = encodeURI(document.location);
                        var appkey = encodeURI("appkey"); //你从腾讯获得的appkey
                        var pic = encodeURI(''); //（列如：var _pic='图片url1|图片url2|图片url3....）
                        var site = ''; //你的网站地址
                        var u = 'http://v.t.qq.com/share/share.php?title=' + t + '&url=' + url + '&appkey=' + appkey + '&site=' + site + '&pic=' + pic;
                        window.open(u, '转播到腾讯微博', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no');
                    }
                </script>
                <a href="javascript:void(0);" onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?to=pengyou&url='+encodeURIComponent(document.location.href));return false;"
                    title="分享到朋友社区">
                    <img src="http://qzonestyle.gtimg.cn/ac/qzone_v5/app/qzshare/xy-icon.png" alt="分享到朋友社区" />
                </a>
            </div>
            <div class="clear">
            </div>
        </div>
    	<!--欢迎_分享连接 结束-->
        
    	<!--店招_LOGO_二维码_连接电话 开始-->
        <div class="header">
            <div class="logo f_left">
                <a href="./yuexin_files/yuexin.html" title="首页">
                    <img src="images/yuexin13_03.png" height="85" alt=""></a></div>
            <!--logo-->
            <div class="contact_code f_right">
                <img src="images/yuexin13_05.png" height="85" alt="" /><img src="images/yuexin13_06.png"
                    height="85" alt="" /></div>
            <!--right-->
            <div class="clear">
            </div>
        </div>        
    	<!--店招_LOGO_二维码_连接电话结束-->
                
    	<!--导航 开始-->
        <div class="nav_box">
            <ul class="nav">
                <li class="n_menu f_right">
                    <h3>
                        <a title="联系我们" href="#">联系我们</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="资料下载" style="width: 80px;" href="#">资料下载</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="成功案例" style="width: 80px;" href="#">成功案例</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="公司新闻" style="width: 80px;" href="#">公司新闻</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="浸水试验机" style="width: 105px;" href="#">浸水试验机</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="强喷水试验机" style="width: 120px;" href="#">强喷水试验机</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="摇摆淋雨试验机" style="width: 120px;" href="#">摇摆淋雨试验机</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="垂直滴雨试验机" style="width: 120px;" href="#">垂直滴雨试验机</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="走进岳信" style="width: 80px;" href="#">走进岳信</a>
                    </h3>
                </li>
                <li class="sep f_right hidden">|</li>
                <li class="n_menu f_right">
                    <h3>
                        <a title="首页" style="width: 60px;" href="http://www.yuexinchina.com">首页</a>
                    </h3>
                </li>
                <li class="clear hidden"></li>
            </ul>
            <!-- menu | end -->
        </div>        
    	<!--导航 结束-->
    </div>    
    <div class="banner_box">
        <div class="banner">
            <img style="width: 100%; height: 320px;" src="images/banner.jpg">
        </div>
    </div>
    <div class="local_box">
    <div class="local">
                        <div class="local_desc">
                            <a href="#">当前位置</a> > 首页 </div>
                        <div class="hot_search">热门机型：<a href="#">摇摆淋雨试验机</a><a href="#">摇摆淋雨试验机</a><a href="#">强喷水试验机</a></div>
                        <div class="clear">
                        </div>
                    </div>
	</div>                    
    <!--头部 结束-->
    
    <!--主内容开始-->
    <div class="content">
        <div class="cpbox">
            <div class="dh fl">
                <div class="dh_c">
                    <div class="clear">

                    </div>
                    <div class="m_title">
                        <div class="m_title_name">
                            产品列表</div>
                        <div class="m_title_more_link">
                            <a href="">
                                <img src="images/small_24.jpg" width="44" height="13" /></a></div>
                        <div class="clear">
                        </div>
                    </div>
                    <script language="JavaScript">
                        function show(i) {
                            if (i.style.display == "none") {
                                i.style.display = "";
                            } else {
                                i.style.display = "none";
                            }
                        }
                    </script>
                    <div class="menu">
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX12垂直滴雨试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">立柱式垂直滴雨试验机</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">挂墙式垂直滴雨试验机</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX34花洒淋雨试验装置</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">手持式淋雨试验装置</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX34摆管淋雨试验机</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX34摆管淋雨试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX56强喷水试验机</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX56强喷水试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX7浸水试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IPX8压力浸水试验机</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">UL淋雨试验装置</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">日标淋雨试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">IP56X防尘试验箱</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">电动车淋雨检测线</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">小车淋雨检测线</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">微客淋雨检测线</span></dt></dl>
                        <dl>
                            <dt style="cursor: hand; float: left;" onclick="show(a2)"><span class="STYLE1">货车淋雨检测线</span></dt></dl>
                    </div>
                </div>
                <div class="contact_l">
                    <div class="clear">
                    </div>
                    <div class="m_title">
                        <div class="m_title_name">
                            联系我们</div>
                        <div class="m_title_more_link hidden">
                            <a href="">
                                <img src="images/small_24.jpg" width="44" height="13" /></a></div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="ry_c">
                        <div class="tel">
                            <p>
                                电话：020-34722228</p>
                            <p>
                                传真：020-34722227</p>
                            <p>
                                手机：18122303373</p>
                            <p>
                                联系人：陈先生（经理）</p>
                            <p>
                                Q Q：37559462</p>
                            <p>
                                旺旺：岳信试验设备</p>
                            <p>
                                邮箱：yuexin@yuexin80.com</p>
                            <p>
                                官网：www.yuexinchina.com</p>
                            <p>
                                旺铺：http://pyyuexin.1688.com</p>
                            <p>
                                营销型网站：www.yuexin80.com</p>
                            <p>
                                地址：广州省广州市番禺区新造镇南约商业街34号</p>
                        </div>
                    </div>
                </div>
                <!--contact-->
            </div>
            <!--menu-->
            <div class="p_right">
                <div class="cp_con fl ml10">
                    <div class="clear">
                    </div>
                    <div class="m_title">
                        <div class="m_title_name">
                            推荐产品</div>
                        <div class="m_title_more_link">
                            <a href="">
                                <img src="images/small_24.jpg" width="44" height="13" /></a></div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="p_list">
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                        <dl>
                            <dd>
                                <a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">
                                    <img src="images/p01.jpg" width="220" height="160" alt="强喷水试验机IPX5-6" title="强喷水试验机IPX5-6"
                                        class="mm"></a></dd>
                            <dt class="sp01"><a href="#showproduct.asp?id=234&tid=650" title="强喷水试验机IPX5-6">强喷水试验机IPX5-6</a></dt>
                        </dl>
                    </div>
                </div>
                <!--tuijian-->
            </div>
        </div>
        <!--cpbox-->
        <div class="content2">
            <div class="content2_text f_left">
                <div class="clear"></div>
                <div class="m_title">
                    <div class="m_title_name">
                        公司介绍</div>
                    <div class="m_title_more_link"></div>
                    <div class="clear">
                    </div>
                </div>
                <div class="company">
                    <p><img src="images/company.jpg" width="200" height="150" alt="" class="com_img" /><b>广州岳信试验设备有限</b>公司是一家集研发、生产、销售为一体的科技型企业，公司专业生产IPX防水试验设备、汽车淋雨试验房、真空水压防水试漏机等试验类机械设备。自创立以来，公司坚持“以新品拓展市场，以质量保证市场，以服务赢得市场”，凭借雄厚的技术力量，利用先进的生产设备和检测设备，使“YUEXIN”和“岳信”品牌的产品广泛应用于航空航天、汽车制造、造船、塑料、电子电工、通信技术、五金机械、仪器仪表、石油仪表、石油化工、医...<a href="#">更多>></a></p>
                </div>
            </div>
            <div class="content2_text f_right">
                <div class="clear">
                </div>
                <div class="m_title">
                    <div class="m_title_name">
                        公司新闻</div>
                    <div class="m_title_more_link">
                        <a href="">
                            <img src="images/small_24.jpg" width="44" height="13" /></a></div>
                    <div class="clear">
                    </div>
                </div>
                <div class="news">
                    <ul class="f_left">
                    	<li><a href="#showtech.asp?id=198" title="摄像头防水测试 联威相信广州岳信">
                            摄像头防水测试 联威相信广州岳信</a></li>
                        <li><a href="#showtech.asp?id=198" title="看70周年阅兵！看岳信发展！">
                            看70周年阅兵！看岳信发展！</a></li>
                        <li><a href="#showtech.asp?id=198" title="定期维护—不变的我们是对客户的承诺">
                            定期维护—不变的我们是对客户的承诺</a></li>
                        <li><a href="#showtech.asp?id=198" title="创新的力量 新机型！IPX8正负压浸水试验机">
                            创新的力量 新机型！IPX8正负压浸水试验机</a></li>
                        <li><a href="#showtech.asp?id=198" title="欢迎国外客户到我厂实地考察！">
                            欢迎国外客户到我厂实地考察！</a></li>
                        <li><a href="#showtech.asp?id=198" title="欢迎国外客户到我厂实地考察！">
                            欢迎国外客户到我厂实地考察！</a></li>
                        <li><a href="#showtech.asp?id=198" title="广州岳信参加百度移动推广营销峰会">
                            广州岳信参加百度移动推广营销峰会</a></li>
                        <li><a href="#showtech.asp?id=198" title="防水试验箱 检测外壳防护的好帮手">
                            防水试验箱 检测外壳防护的好帮手</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--成功案例 start-->        
        <div class="m1">
            <div class="cases">
                <div class="clear">
                </div>
                <div class="m_title">
                    <div class="m_title_name">
                        成功案例</div>
                    <div class="m_title_more_link">
                        <a href="">
                            <img src="images/small_24.jpg" width="44" height="13" /></a></div>
                    <div class="clear">
                    </div>
                </div>
                <div class="bg">
                    <div class="scrollImgList1" id="scrollImgList1">
                        <div onmouseup="ISL_StopDown_1()" class="LeftBotton" onmousedown="ISL_GoDown_1()"
                            onmouseout="ISL_StopDown_1()">
                        </div>
                        <div class="Cont" id="ISL_Cont_1">
                            <div class="ScrCont">
                                <div id="List1_1">
                                    <ul>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/83.html" title="广州广电计量检测股份有限公司" target="_blank">
                                                    <img src="images/cases/1408015918.jpg" width="157" height="132"
                                                        alt="广州广电计量检测股份有限公司"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/83.html" title="广州广电计量检测股份有限公司" target="_blank">广州广电计量检测股份</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/83.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/82.html" title="唐山曹妃甸工大海宇" target="_blank">
                                                    <img src="images/cases/1407927385.jpg" width="157" height="132"
                                                        alt="唐山曹妃甸工大海宇"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/82.html" title="唐山曹妃甸工大海宇" target="_blank">唐山曹妃甸工大海宇</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/82.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/79.html" title="湖南硅峰电动车辆制造" target="_blank">
                                                    <img src="images/cases/1407926960.jpg" width="157" height="132"
                                                        alt="湖南硅峰电动车辆制造"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/79.html" title="湖南硅峰电动车辆制造" target="_blank">湖南硅峰电动车辆制造</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/79.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/78.html" title="中国重汽集团济宁商用车" target="_blank">
                                                    <img src="images/cases/1407926759.jpg" width="157" height="132"
                                                        alt="中国重汽集团济宁商用车"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/78.html" title="中国重汽集团济宁商用车" target="_blank">中国重汽集团济宁商用车</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/78.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/77.html" title="香港中建电讯集团" target="_blank">
                                                    <img src="images/cases/1407926652.jpg" width="157" height="132"
                                                        alt="香港中建电讯集团"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/77.html" title="香港中建电讯集团" target="_blank">香港中建电讯集团</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/77.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/75.html" title="深圳市贝德技检测" target="_blank">
                                                    <img src="images/cases/1407924174.jpg" width="157" height="132"
                                                        alt="深圳市贝德技检测"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/75.html" title="深圳市贝德技检测" target="_blank">深圳市贝德技检测</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/75.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/74.html" title="凯尔达集团" target="_blank">
                                                    <img src="images/cases/1407923721.jpg" width="157" height="132"
                                                        alt="凯尔达集团"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/74.html" title="凯尔达集团" target="_blank">凯尔达集团</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/74.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/71.html" title="深圳西西艾电子" target="_blank">
                                                    <img src="images/cases/1407775920.jpg" width="157" height="132"
                                                        alt="深圳西西艾电子"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/71.html" title="深圳西西艾电子" target="_blank">深圳西西艾电子</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/71.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/70.html" title="西安立明照明" target="_blank">
                                                    <img src="images/cases/1407775566.jpg" width="157" height="132"
                                                        alt="西安立明照明"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/71.html" title="西安立明照明" target="_blank">西安立明照明</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/71.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="List2_1">
                                    <ul>
                                        
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/83.html" title="广州广电计量检测股份有限公司" target="_blank">
                                                    <img src="images/cases/1408015918.jpg" width="157" height="132"
                                                        alt="广州广电计量检测股份有限公司"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/83.html" title="广州广电计量检测股份有限公司" target="_blank">广州广电计量检测股份</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/83.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/82.html" title="唐山曹妃甸工大海宇" target="_blank">
                                                    <img src="images/cases/1407927385.jpg" width="157" height="132"
                                                        alt="唐山曹妃甸工大海宇"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/82.html" title="唐山曹妃甸工大海宇" target="_blank">唐山曹妃甸工大海宇</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/82.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/79.html" title="湖南硅峰电动车辆制造" target="_blank">
                                                    <img src="images/cases/1407926960.jpg" width="157" height="132"
                                                        alt="湖南硅峰电动车辆制造"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/79.html" title="湖南硅峰电动车辆制造" target="_blank">湖南硅峰电动车辆制造</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/79.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/78.html" title="中国重汽集团济宁商用车" target="_blank">
                                                    <img src="images/cases/1407926759.jpg" width="157" height="132"
                                                        alt="中国重汽集团济宁商用车"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/78.html" title="中国重汽集团济宁商用车" target="_blank">中国重汽集团济宁商用车</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/78.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/77.html" title="香港中建电讯集团" target="_blank">
                                                    <img src="images/cases/1407926652.jpg" width="157" height="132"
                                                        alt="香港中建电讯集团"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/77.html" title="香港中建电讯集团" target="_blank">香港中建电讯集团</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/77.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/75.html" title="深圳市贝德技检测" target="_blank">
                                                    <img src="images/cases/1407924174.jpg" width="157" height="132"
                                                        alt="深圳市贝德技检测"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/75.html" title="深圳市贝德技检测" target="_blank">深圳市贝德技检测</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/75.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/74.html" title="凯尔达集团" target="_blank">
                                                    <img src="images/cases/1407923721.jpg" width="157" height="132"
                                                        alt="凯尔达集团"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/74.html" title="凯尔达集团" target="_blank">凯尔达集团</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/74.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/71.html" title="深圳西西艾电子" target="_blank">
                                                    <img src="images/cases/1407775920.jpg" width="157" height="132"
                                                        alt="深圳西西艾电子"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/71.html" title="深圳西西艾电子" target="_blank">深圳西西艾电子</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/71.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="pic">
                                                <a href="http://www.yuexinchina.com/photo/html/70.html" title="西安立明照明" target="_blank">
                                                    <img src="images/cases/1407775566.jpg" width="157" height="132"
                                                        alt="西安立明照明"></a></div>
                                            <div class="p1">
                                                <p>
                                                    <a href="http://www.yuexinchina.com/photo/html/71.html" title="西安立明照明" target="_blank">西安立明照明</a></p>
                                                <b class="red"><a href="http://www.yuexinchina.com/photo/html/71.html" target="_blank">【案例详情介绍】</a></b>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div onmouseup="ISL_StopUp_1()" class="RightBotton" onmousedown="ISL_GoUp_1()" onmouseout="ISL_StopUp_1()">
                        </div>
                    </div>
                    <script type="text/javascript" src="scripts/rollpic.js"></script>
                </div>
                <div class="down">
                </div>
            </div>
        </div>
        <!--成功案例 end-->
    </div>
    <!--低部开始-->
        <!--
    <div class="foot">
        <script language="javascript" type="text/javascript">
            //ض¼
            function pageScroll() {
                var top = document.getElementById("Totop");
                //ݹָһҹڶ¹
                window.scrollBy(0, -100);
                //ʱݹãģЧ
                scrolldelay = setTimeout('pageScroll()', 1);
                //ȡscrollTopֵDTDı׼ҳȡdocument.documentElement.scrollTopȡdocument.body.scrollTopΪֻһЧһͺΪ0ȡֵԵõҳscrollTopֵ
                var sTop = document.documentElement.scrollTop + document.body.scrollTop;
                //жϵҳ浽ﶥȡʱ루ҳ޷ҳ棩
                if (sTop == 0) {
                    clearTimeout(scrolldelay);
                }
            }
            $(function () {
                window.onscroll = function () {
                    var t = document.documentElement.scrollTop || document.body.scrollTop;
                    var top_div = document.getElementById("Totop");
                    if (t > 0) {
                        top_div.style.display = "block";
                    } else {
                        top_div.style.display = "none";
                    }
                }
            });
            var speed = 20//速度数值越大速度越慢
            www_qpsh_com2.innerHTML = www_qpsh_com1.innerHTML
            function Marquee() {
                if (www_qpsh_com2.offsetWidth - www_qpsh_com.scrollLeft <= 0)
                    www_qpsh_com.scrollLeft -= www_qpsh_com1.offsetWidth
                else {
                    www_qpsh_com.scrollLeft++
                }
            }
            var MyMar = setInterval(Marquee, speed)
            www_qpsh_com.onmouseover = function () { clearInterval(MyMar) }
            www_qpsh_com.onmouseout = function () { MyMar = setInterval(Marquee, speed) }
        </script>
        <div id="Totop" class="backToTop" style="display: none;" onclick="pageScroll();">
        </div>
        <div class="footer">
            <div class="c_content">
                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                        <td>
                            <table width="1003" border="0" align="center" cellpadding="1" cellspacing="0">
                                <tr>
                                    <td>
                                        <table class="footer" width="950" border="0" align="center" cellpadding="1" cellspacing="0">
                                            <tr>
                                                <td width="17%" valign="top">
                                                </td>
                                                <td width="25%" align="center" valign="top">
                                                    <img src="images/qr.png" title="请扫描添加联系" alt="请扫描添加联系" />
                                                </td>
                                                <td width="21%" valign="top" style="color: #666666">
                                                    <p>
                                                        <strong>服务支持</strong><br />
                                                        售后支持<br>
                                                        销售网络<br>
                                                        合作伙伴<br>
                                                        给我留言<br>
                                                        友情链接
                                                    </p>
                                                    <p>&nbsp;
                                                        </p>
                                                </td>
                                                <td width="37%" valign="top" align="left" style="color: #666666">
                                                    <p>
                                                        电话：020-34722228</p>
                                                    <p>
                                                        传真：020-34722227</p>
                                                    <p>
                                                        手机：18122303373</p>
                                                    <p>
                                                        联系人：陈先生（经理）</p>
                                                    <p>
                                                        Q Q：37559462</p>
                                                    <p>
                                                        旺旺：岳信试验设备</p>
                                                    <p>
                                                        邮箱：yuexin@yuexin80.com</p>
                                                    <p>
                                                        官网：www.yuexinchina.com</p>
                                                    <p>
                                                        旺铺：http://pyyuexin.1688.com</p>
                                                    <p>
                                                        营销型网站：www.yuexin80.com</p>
                                                    <p>
                                                        地址：广州省广州市番禺区新造镇南约商业街34号</p>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="footer" width="950" border="0" align="center" cellpadding="1" cellspacing="0">
                                            <tr>
                                                <td align="right">&nbsp;
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    粤ICP备13080521号· Copyright &copy; 广州岳信试验设备有限公司. All Rights Reserved.
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        -->
    
    <div class="bottom_box">
    <div class="bottom">
            <div class="f_left barcode">
            	    <img src="images/qr.png" title="请扫描添加联系" alt="请扫描添加联系" />        
            </div>
            <div class="contacts f_left">            
            	<ul>
                	<li><div class="b_title">联系我们</div></li>
                    <li>电话：020-34722228</li>
                                                    <li>
                                                        传真：020-34722227</li>
                                                    <li>
                                                        手机：18122303373</li>
                                                    <li>
                                                        联系人：陈先生（经理）</li>
                                                    <li>
                                                        Q Q：37559462</li>
                                                    <li>
                                                        旺旺：岳信试验设备</li>
                                                    <li>
                                                        邮箱：yuexin@yuexin80.com</li>
                                                    <li>
                                                        官网：www.yuexinchina.com</li>
                                                    <li>
                                                        旺铺：http://pyyuexin.1688.com</li>
                                                    <li>
                                                        营销型网站：www.yuexin80.com</li>
                                                    <li>
                                                        地址：广州省广州市番禺区新造镇南约商业街34号</li>
                </ul> 
          	</div>
            
            <div class="f_left links">            
            	<ul>
                	<li><div class="b_title">友情连接</div></li>
                    <li><img src="images/links/7mai.gif" width="88" height="31" /></li>
                    <li><img src="images/links/styleweekly.gif" width="88" height="31" /></li>
                    <li><img src="images/links/uuu9.gif" width="88" height="31" /></li>
                </ul> 
          	</div>
            <div class="feedback f_right">
                <form id="form2" name="form2" method="post" action="feedback.aspx">
            <ul>
                	<li><div class="b_title">在线留言</div></li>
                    <li><input name="name" type="text" class="input" id="name" maxlength="50" value="姓名"></li>
                    <li><input name="phone" type="text" class="input" id="phone" maxlength="100" value="联系电话"></li>
                    <li><input name="title" type="text" class="input" id="title" maxlength="100" value="标题"></li>
                    <li><textarea name="content" class="input1" id="content">内容</textarea></li>
                    <li><input type="image" src="images/submit.jpg" width="48" height="21" class="f_right"></li>
                    <li class="clear"></li>          
                </ul> 
                </form>                
            </div>
            <div class="clear"></div>
            <div class="copy">
            	<div class="f_left">粤ICP备13080521号· Copyright &copy; 广州岳信试验设备有限公司. All Rights Reserved.</div>
                <div class="f_right"><a href="#top">
                            <img src="images/back_top.jpg" width="22" height="22"></a></div>
                            </div>
            	<div class="clear"></div>
            </div>
            </div>
</div>

</body>
</html>
