##head##
##banner##
<!--main start-->
<div class="content">
    <div class="cpbox">
        <div class="dh fl">
            <div class="dh_c">
                <div class="clear">
                </div>
                ##sort_menu##
            </div>
            <div class="dh_c mt10">
                <div class="clear">
                </div>
                ##recommend_product##
            </div>
            <div class="contact_l mt10">
                <div class="clear">
                </div>
                <div class="m_title">
                    <div class="m_title_name">
                        联系我们</div>
                    <div class="m_title_more_link hidden">
                        <a href="">
                            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
                    <div class="clear">
                    </div>
                </div>
                <div class="ry_c">
                    <div class="tel">
                        ##contact##
                    </div>
                </div>
            </div>
            <!--contact-->
        </div>
        <!--menu-->
        <div class="p_right">
            <div class="cp_con fl ml10">
                <div class="clear">
                </div>
                <div class="m_title">
                    <div class="m_title_name">
                        产品列表</div>
                    <div class="m_title_more_link">
                        <a href="">
                            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
                    <div class="clear">
                    </div>
                </div>
                <div class="p_list">                
                ##product_list##
                </div>
            </div>
            <!--tuijian-->
        </div>
    </div>
    <!--cpbox-->    
</div>
<!--main end-->
##foot##