<div class="m_title">
    <div class="m_title_name">
        公司文化</div>
    <div class="m_title_more_link">
        <a href="recommendProduct.html">
            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
    <div class="clear">
    </div>
</div>
<div class="l_menu">
    <dl>
        <dt style="cursor: hand; float: left;"><span class="l_m_item"><a href="##root_url##/companyInfo.html"
            target="_blank">公司简介</a></span> </dt>
        <dt style="cursor: hand; float: left;"><span class="l_m_item"><a href="##root_url##/companyHistory.html"
            target="_blank">发展历程</a></span> </dt>
        <dt style="cursor: hand; float: left;"><span class="l_m_item"><a href="##root_url##/companyStyle.html"
            target="_blank">企业风貌</a></span> </dt>
        <dt style="cursor: hand; float: left;"><span class="l_m_item"><a href="##root_url##/companyCert.html"
            target="_blank">资质证书</a></span> </dt>
    </dl>
</div>
