<div class="m_title">
    <div class="m_title_name">
        公司新闻</div>
    <div class="m_title_more_link">
        <a href="">
            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
    <div class="clear">
    </div>
</div>
<div class="news">
    <ul class="f_left">
        __TEMP_S
        <li><a href="##root_url##/news/news##news_id##.html" title="##news_title##">##news_title##</a>&nbsp;&nbsp;<span>##rec_date##</span></li>
        __TEMP_E
    </ul>
</div>
