<div class="m_title">
    <div class="m_title_name">
        最新动态</div>
    <div class="m_title_more_link">
        <a href="recommendProduct.html">
            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
    <div class="clear">
    </div>
</div>
<div class="l_menu">
    __TEMP_S
    <dl>
        <dt style="cursor: hand; float: left;"><span class="l_m_item"><a href="##root_url##/news/news##news_id##.html"
            target="_blank">##news_title##</a></span> </dt>
    </dl>
    __TEMP_E
</div>
