<div class="m_title">
    <div class="m_title_name">
        产品列表</div>
    <div class="m_title_more_link">
        <a href="">
            <img src="##root_url##/images/small_24.jpg" width="44" height="13" /></a></div>
    <div class="clear">
    </div>
</div>
<div class="ct_r_list">
    __TEMP_S
    <dl>
        <dd>
            <a href="##root_url##/product/productDetail##product_id##.html" title="##product_name##">
                <img src="##root_url##/images/product/##images##" width="220" height="160" alt="##product_name##"
                    title="##product_name##" class="mm"></a></dd><dt class="a_text"><a href="##root_url##/product/productDetail##product_id##.html"
                        title="##product_name##">##product_name##</a> </dt>
    </dl>
    __TEMP_E
</div>
