<!--main start-->
<div id="content_box">
    <div class="content">
        <div class="ct_left f_left">
            <div class="ct_l_section">
                <div class="clear">
                </div>
                ##comp_sort_menu##
            </div>
            <div class="ct_l_section mt10">
                <div class="clear">
                </div>
                ##comp_recommend_product_menu##
            </div>
            <!--contact-->
        </div>
        <!--menu-->
        <div class="p_right">
            <div class="cp_con fl ml10">
                <div class="clear">
                </div>
                <div>
                    <img src="##root_url##/images/product/##images##" width="220" height="160" alt="##product_name##" title="##product_name##" class="mm">
                </div>       
                <div>##product_name##</div>
                <div>##product_detail##</div>
            </div>
            <!--tuijian-->
        </div>
    </div>
    <!--成功案例 end-->
</div>
<!--main end-->