<!--main start-->
<div id="content_box">
    <div class="content">
        <div class="ct_left f_left">
            <div class="ct_l_section">
                <div class="clear">
                </div>
                ##comp_sort_menu##
            </div>
            <div class="ct_l_section mt10">
                <div class="clear">
                </div>
                ##comp_recommend_product_menu##
            </div>
            <!--contact-->
        </div>
        <!--menu-->
        <div class="p_right">
            <div class="cp_con fl ml10">
                <div class="clear">
                </div>             
                ##comp_product_list##
            </div>
            <!--tuijian-->
        </div>
    </div>
    <!--成功案例 end-->
</div>
<!--main end-->