@charset "utf-8";
/* CSS Document */

#page_box { width: 100%; height: 100%;}

/* head */
#head_box { background-color:#b7a66d; float: left; height: 40px; width: 100%;}
#head .logo { border-right: 1px solid  #998643; float: left; width: 179px; height: 40px;}
#head .logo img { margin: 7px 0 0 13px;}
#head .nav { margin-left: 180px; height: 40px; line-height: 40px; color: #D9D9D9; font-size: 13px;}
#head .nav li { float: left; border-left: 1px solid #c8bb89; border-right: 1px solid #998643;}
#head .nav .l_bd_0 {border-left: 0;}
#head .nav .r_bd_0 {border-right: 0;}
#head .nav a {display: block; color: #D9D9D9; padding: 0 15px;}
#head .nav a:hover, #head .nav a.cur {background-color: #60BBFF; color: #FFF;}
/* drop down menu */
#head .nav .dd_menu {position: relative;}
#head .nav .dd_menu_item {display: none; position: absolute;}
#head .nav .dd_menu_item a {line-height: 30px; font-size: 12px;}
#head .nav .dd_menu_active a { background-color: #FFF; color: #000;}
#head .nav .dd_menu_active .dd_menu_item {display:block;}
/* drop down menu: img manager*/
#head .nav a.dd { background: url("../images/top_add.gif") no-repeat 15px top; padding-left: 35px;}
#head .nav a.dd:hover { background: #60BBFF url("../images/top_add.gif") no-repeat 15px bottom;}
#head .nav .dd_item {left: -1px; top: 40px;width: 120px; border-left: 1px solid #FFF; border-right: 1px solid #CCC; border-bottom: 1px solid #CCC;}
#head .nav .dd_item a {border-bottom: 1px solid #EEE; border-left: 1px solid #EEE; border-right: 1px solid #EEE; background-color: #FFF; color: #333; padding-left: 20px;}
#head .nav .dd_item a:hover { background-color: #F9F9F9; color: #0072C6;}
/* drop down menu: use manager*/
#head .nav .user { left: -1px; top: 40px; width: 134px; border-left: 1px solid #EEE; border-right: 1px solid #EEE;}
#head .nav .user a { border-bottom: 1px solid #EEE; background-color: #FFF; color: #0072C6;}
#head .nav .user a:hover { background-color: #F9F9F9; color: #0072C6;}

/* menu*/
#menu_box {width: 179px; float:left;}
#menu {margin-right: -1px; font-size: 13px; font-weight: bold;}
#menu ul {border-top: 1px solid #F9F9F9; border-bottom: 1px solid #CCCCCC; padding: 4px 0;}
#menu .top {border-top: 0; border-right: 1px solid #CCC; background-color: #F5F5F5;}
#menu .bot { border-bottom: 0;}
#menu li { height: 38px; overflow: hidden;}
#menu li.cur { background: #60BBFF url("../images/menu_cur.gif") no-repeat right 50%;}
#menu li.cur a {color: #FFF;}
#menu li a { display: block; height: 38px; line-height: 38px;}
#menu li i { background: url("../images/icon_menu.png") no-repeat 13px 0; float: left; display: block; width: 42px; height: 38px;}
#menu li em { float: left; display: block; width: 130px; height: 38px; cursor: pointer;}
#menu .top li {height: 27px;}
#menu .top li a { height: 27px; line-height: 27px;}
#menu .top li i { height: 27px;}
#menu .top li i.home { background-position: 13px -40px;}
#menu li i.m_company { background-position: 13px -79px;}
#menu li i.m_site { background-position: 13px -119px;}
#menu li i.m_culture { background-position: 13px -159px;}
#menu li i.m_links { background-position: 13px -199px;}
#menu li i.m_material { background-position: 13px -239px;}
#menu li i.m_recruit {background-position: 13px -279px;}
#menu li i.m_product { background-position: 13px -319px;}
#menu li i.m_case { background-position: 13px -879px;}
#menu li i.m_news { background-position: 13px -359px;}
#menu li i.m_message { background-position: 13px -399px;}
#menu li i.m_sort { background-position: 13px -439px;}
#menu li i.m_edit_product { background-position: 13px -479px;}
#menu li i.link {background-position: 13px -519px;}
#menu li i.guestbook {background-position: 13px -559px;}
#menu li i.mobile { background-position: 13px -599px;}
#menu li i.user { background-position: 13px -639px;}
#menu li i.order { background-position: 13px -679px;}
#menu li i.plugin { background-position: 13px -719px;}
#menu li i.menuPage { background-position: 13px -759px;}
#menu li i.theme { background-position: 13px -799px;}
#menu li i.caseCat { background-position: 13px -839px;}
#menu li i.downloadCat { background-position: 13px -919px;}
#menu li i.download { background-position: 13px -959px;}

/* main content box */
#main_box {background-color: #FFFFFF; border-left: 1px solid #CCC; margin-left: 179px; padding-top: 40px; *padding-top:0; zoom: 1}

/* locatoin */
#location {background-color:#F5F5F5;border-left: 1px solid #FFF;height: 35px;line-height: 37px;color: #A0A0A0;padding-left: 20px;}
#location a {color: #A0A0A0;}
#location b {margin: 0 13px;}

/* foot */
#foot_box { height: 45px; background-color: #EEEEEE;}
#foot {margin-top: -1px; color: #999;}
#foot .line {border-top: 1px solid #FFFFFF; background-color: #CCCCCC; height: 1px; line-height: 1px; font-size: 0; margin-left: 180px;}
#foot ul { text-align: center; padding: 15px 0;}

.popup {position:absolute; border:2px solid #beb185; font-size: 13px; font-weight: bold;}
.popup .ppTitlePnl {width:100%; line-height:20px; background-color:#b7a66d; height:24px; font-size: 15px;}
.popup .ppTitlePnl .ppTitleMsg{width:80%; overflow:hidden;}
.popup .ppTitlePnl .ppTitleBtn{width:auto; text-align:right; margin-left:5px; margin-bottom:3px;}
.popup .ppTitlePnl .ppTitleBtn a{color: #666666; font-weight: normal;}
.popup .ppTitlePnl .ppTitleBtn a:hover {color:#fff;}
.popup .ppMsgPnl {width: 100%; background:#F9F9F9; overflow:hidden;}
.popup .ppWinPnl {width: 100%;}

.ppWin{padding: 10px 22px 50px 22px; height: auto!important; height: 550px; }